/* Declaring variables */
:root {
    --ube: #8878c3;
    --text: #ffffff;
    --purple: #9d00ff;
    --main-blog-color: (#9d00ff, #8878c3);
    --text-color: light-dark(#000000, #ffffff);
    --main-background: light-dark(#e4e4e4, rgb(66, 66, 66));
    --bar-background-color: light-dark(rgb(123, 255, 0), #228b22);
  }
  
/* Element Selectors */

body { /* Setting the standard font, margin, background color and text color*/
    font-family: Lato, Arial, sans-serif;
    margin: 0;
    background-color: ffffff;
    color: 000000;
    transition: 0.2s linear
}

#modeToggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

a { /* Removing decoration from all links*/
    text-decoration: none;
}

nav a { /* Setting the decoration, spacing and alignment for the links in the nav blocks */
    padding-left: 50px;    
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    display: inline-flex;
}

nav a:hover, a:active { /* Setting the psuedo classes for hover and active effects on nav links */
    background-color: black;
    border: 2px solid white;
    color: #fff;
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center; 
    color: var(--text);
    background-color: #228b22;
    width: 100%;
    margin-bottom: 20px;
}

article a{ /* Setting the color and display for anchor tags in the articles */
    color: 000000;
    display:block;
}

/* Class Selectors */

.blogArticle { /* Styling the article entries of the blog */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    border-color: var(--ube);
    border-style: solid;
    border-width: 5px;
}

.blogArticle h1 { /* Setting the font size of the h1 tags in the blog articles */
    font-size: 30px;
}

.blogArticle p { /* Setting the padding and alignment of the p tags in the blog articles */
    padding: 20px 30px 20px 30px;
    align-self: center;
}

.blogArticle footer { /* Styling the footers of the blog articles */
    display: block;
    justify-content: flex-start;
    align-self: flex-end;
}

.contact-me { /* Styling the footer at the bottom of the page */
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-self: center; 
    background-color: #228b22;
    width: 100%;
    margin-top: 20px;
}

/* Setting the responsiveness to different viewports. There's a slight difference between the featured-project-card and project-card classes */

@media screen and (max-width: 992px) {
    .projects {
        flex-wrap: wrap;
    }
    
    .project-card {
      width: 45%;
        }
    }
  
@media screen and (max-width: 768px) {
    .projects {
        flex-direction: column;
    }

    .featured-project-card {
        max-height: 300px;
        width: 95%
    }

    .project-card {
        width: 95%;
          }
    }